/* h3 {
    background-color: red;
    color: blue;
} */
@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

:root {
    --bulma-primary-h: 229deg;
    --bulma-primary-l: 54%;
  }
  
  